    <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> 8(029)-203-50-18
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> thegeodez@yandex.ru
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-vk"></i>
            </a>
            <a href="#">
              <i class="fab fa-skype"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-viber"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>